
#error1{
    color: red;
    font-size: 75%;
}
#error2{
    color: red;
    font-size: 75%;
}
#error3{
    color:red;
    font-size: 75%;
}
#error4{
    color:red;
    font-size: 75%;
}
#submitmsg{
    color: green;
}
